<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <!-- DASHBOARD -->
    <!-- navbar with user is sessions name displayed -->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <h1 class="m-3 navbar-brand">Welcome, {{current_user.first_name}}</h1>
        <div class="d-inline-flex">
            <!-- create new recipe link -->
            <a href="/new/recipe">Create</a>
            <!-- logout link -->
            <a class="m-2 btn btn-outline-success"href="/logout">Logout</a>
        </div>
    </nav>

    <!-- ALL POSTED RECIPES TABLE -->
    <div>
        <p>All posted recipes:</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Under 30</th>
                    <th scope="col">Posted By</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in all_recipes %}
                <tr>
                    <td>{{ recipe.name }}</td>
                    <!-- prints yes for 1 and no for 0 -->
                    <td> {% if recipe.under_30_min == 1 %}
                            Yes
                        {% else %}
                            No
                    </td>
                        {% endif %}
                    <td>{{ recipe.creator.first_name }}</td>
                    <td><a href="/recipes/show/{{ recipe.id }}">View Recipe</a>
                        {% if recipe.creator.id == current_user.id %}
                        <a href="/recipes/edit/{{ recipe.id }}">Edit</a>
                        <a href="/recipes/delete/{{ recipe.id }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
    </div>
</body>
</html>