<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <!-- VIEW RECIPE -->
    <!-- navbar-->
    <nav class="navbar navbar-light bg-light justify-content-between">
        <h1 class="m-3 navbar-brand">Welcome, {{one_recipe.creator.first_name}}</h1>
        <div class="d-inline-flex">
            <!-- create new recipe link -->
            <a href="/dashboard">Back to recipes</a>
            <!-- logout link -->
            <a class="m-2 btn btn-outline-success"href="/logout">Logout</a>
        </div>
    </nav>

    <div>
        <p>Name: {{ one_recipe.name }}</p>
        <p>Description: {{ one_recipe.description }}</p>
        <p>Instructions: {{ one_recipe.instructions }}</p>
        <p>Date Made: {{ one_recipe.date_made }}</p>

        <p>Under 30 minutes?: {% if one_recipe.under_30_min == 1 %}
                                Yes
                            {% else%}
                                No
        </p>
        {% endif %}

    </div>
</body>
</html>