<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        h1{
            color: yellow;
        }
        label, p{
            color:white
        }
        .container-sm{
            margin-top: 50px;
            width: 50%;
            background-color: darkslategray ;
            border-radius: 10px;
        }
        .btn{
            margin-top: 10px;
        }

    </style>
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container-sm w-50 p-3">
        <h1>Dojo Survey</h1>
        <form  action="/process" method="post">
            <!-- name input -->
            <div class="mb-3">
                <label for="name">Name:</label>
                <input type="text" name="name">
            </div>
            <!-- Dojo location -->
            <div class="mb-3">
                <label for="location" class="form-label">Dojo Location:</label>
                <select class="form-select" name="location" id="location">
                    <option value="philadelphia">Philadelphia</option>
                    <option value="nyc">NYC</option>
                    <option value="austin">Austin</option>
                    <option value="losangeles">Los Angeles</option>
                </select>
            </div>
            <!-- favorite language -->
            <div class=" mb-3">
                <label class="form-label"for="favlanguage">Favorite Language:</label>
                <select class="form-select"name="favlanguage" id="favlanguage">
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                    <option value="java">Java</option>
                    <option value="c#">C#</option>
                </select>
            </div>
            <!-- radio buttons -->
            <div class="mb-3">
                <p>Part Time or Full Time?:</p>
                <input type="radio" name="time_options" value="Part Time">
                <label class="form-label" for="part_time">Part-Time</label><br>
                <input type="radio" name="time_options" value="Full Time">
                <label class="form-label" for="full_time">Full-Time</label><br>
            </div>
            <!-- check boxes -->
            <div class="mb-3">
                <p>How did you hear about us?:</p>
                <input type="checkbox" name="checkbox" value="Social Media">
                <label class="form-label" for="ads">Social Media</label><br>
                <input type="checkbox" id="friend" name="checkbox" value="Peer Referal">
                <label class="form-label" for="friend">Peer Referal</label><br>
                <input type="checkbox" id="search" name="checkbox" value="Google/Search Engine">
                <label class="form-label" for="search">Google/Search Engine</label><br>
            </div>
            <!-- comments -->
            <div class="mb-3">
                <label class="form-label" for="comment">Comment(optional):</label>
                <textarea class='form-control' name="comment" id="comment" cols="30" rows="10"></textarea>
            </div>
            <!-- submit button -->
            <div>
                <input class="btn btn-primary btn-lg mb-3 "type="submit">
            </div>
        </form>
    </div>
</body>
</html>