<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
<style>
    h1{
        text-align: center;
    }
    #container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #container .box{
        flex-direction: row;
        background-color: blue;
        margin: 10px;
        width:150px;
        height: 150px;
    }
</style>
</head>
<body>
    <h1>Welcome!</h1>
<!-- displays three blue boxes side by side -->
    <div class="container">
        <div></div>
        <div></div>
        <div></div>
    </div>

<!-- loop displays x amount of boxes and changes color -->
    <div id="container">
        {% for i in range(0,x)%}
            <div class="box" style='background-color:{{color}}'></div>
        {% endfor %}
    </div>
</body>
</html>