<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playgorund 2</title>
<style>
    h1{
        text-align: center;
    }
    #container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    #container .box{
        flex-direction: row;
        background-color: blue;
        margin: 10px;
        width:150px;
        height: 150px;
    }
</style>
</head>
<body>
    <h1>Welcome!</h1>
<!-- this for loop prints out the same number of boxes specified in the server route (x) -->
    <div id="container">
        {% for num in range(0,x):%}
        <div class="box"></div>
    {% endfor %}
    </div>


</body> 
</html>