*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin:20px;
}
.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#red{
    width:100px;
    height: 100px;
    background-color: red;
}
#black{
    width:100px;
    height: 100px;
    background-color: black;
}